In [63]:
import pandas as pd

# 1. Zestawienie wiz krajowych wydanych w latach 2020-2022

In [64]:
LICZBA_OBYWATELI = 37750000

In [65]:
df = pd.read_csv("./data/wizy_a_b_c_2022_2022.csv")

In [66]:
_df = df.groupby('rok')[['A', 'C', 'D']].sum()
_df['suma'] = _df.sum(axis=1)
_df

          A         C          D       suma
rok
2020    1.0  103742.0   840327.0   944070.0
2021    0.0   39367.0  1003059.0  1042426.0
2022  109.0   72932.0   537958.0   610999.0

In [67]:
_data = _df.loc[2022]["C"] / LICZBA_OBYWATELI * 1000
print(f"Liczba wiz typu C na 1000 mieszkańców: {_data.round(2)}")

Liczba wiz typu C na 1000 mieszkańców: 1.93

In [68]:
_data = _df.loc[2022]["D"] / LICZBA_OBYWATELI * 1000
print(f"Liczba wiz typu D na 1000 mieszkańców: {_data.round(2)}")

Liczba wiz typu D na 1000 mieszkańców: 14.25

In [69]:
_data = _df.loc[2022]["suma"] / LICZBA_OBYWATELI * 1000
print(f"Liczba wszystkich wiz na 1000 mieszkańców: {_data.round(2)}")

Liczba wszystkich wiz na 1000 mieszkańców: 16.19

## 2. Ranking krajów dla sumy dla last 2020-2022

In [74]:
_df_top = df.groupby("obywatelstwo")[["A", "D", "C"]]  \
.sum()  \
.sum(axis=1)  \
.to_frame("ilość")  \
.sort_values("ilość", ascending=False)
_df_top["procenty"] = _df_top["ilość"] / _df_top["ilość"].sum()

_df =_df_top.head(12)
_df.loc["INNE"] = _df_top[12:].sum()
_df

/tmp/ipykernel_82465/3863294478.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc["INNE"] = _df_top[12:].sum()

                  ilość  procenty
obywatelstwo
UKRAINA       1581511.0  0.608860
BIAŁORUŚ       624682.0  0.240494
ROSJA           79559.0  0.030629
TURCJA          49447.0  0.019036
INDIE           38893.0  0.014973
GRUZJA          17553.0  0.006758
KAZACHSTAN      17276.0  0.006651
UZBEKISTAN      15617.0  0.006012
MOŁDAWIA        14857.0  0.005720
FILIPINY        12863.0  0.004952
AZERBEJDŻAN     12324.0  0.004745
ARMENIA         10102.0  0.003889
INNE           122811.0  0.047281

In [93]:
len(_df_top)

202

In [86]:
W latach 2020-2022 wydanych zostało 2597495 wiz dla obywateli z 202 różnych krajów.
Najwięcej wiz wydanych było dla obywateli Ukrainy (1581511, 60.9%) oraz Białorusi (624682, czyli 24.0%).

Pozostałe 15% przypada na pozostałe 200 krajów

2597495.0

In [91]:
_df.iloc[2:]['ilość'].sum(), _df.iloc[2:]['ilość'].sum() / _df['ilość'].sum()

(391302.0, 0.1506459107717243)

## 3. Udział krajów islamskich

In [71]:
KRAJE_ISLAMSKIE = "Mauretania", "Somalia", "Algieria", "Maroko", "Malediwy", "Komory", "Niger", "Tunezja", "Dżibuti", "Libia", "Gambia", "Sudan", "Mali", "Sierra Leone", "Burkina Faso", "Czad", "Senegal", "Gwinea", "Afganistan", "Iran", "Tadżykistan", "Azerbejdżan", "Jordania", "Jemen", "Pakistan", "Arabia Saudyjska", "Irak", "Turkmenistan", "Bangladesz", "Egipt", "Turcja", "Uzbekistan", "Indonezja", "Oman", "Syria", "Brunei", "Kirgistan", "Katar", "Kuwejt", "Bahrain", "Zjednoczone Emiraty Arabskie", "Kazachstan", "Liban", "Malezja"
kraje_islamskie = [k.lower() for k in KRAJE_ISLAMSKIE]

### 3.2. Liczba wiz dla cudzoziemców z krajów islamskich w latach 2020-2022

In [72]:
_df_all = df.groupby("rok")[["A", "C", "D"]].sum()
_df_all['Suma'] = _df_all.sum(axis=1)

_df = df[df['obywatelstwo'].str.lower().isin(kraje_islamskie)]
_df_group = _df.groupby("rok")[["A", "C", "D"]].sum()
_df_group['Suma'] = _df_group.sum(axis=1)
_df_group

        A        C        D     Suma
rok
2020  0.0  11427.0  18995.0  30422.0
2021  0.0  10231.0  28786.0  39017.0
2022  3.0  25480.0  49556.0  75039.0

### 3.3. Udział procentowy wiz dla cudzoziemców z krajów islamskich

In [73]:
_df_group / _df_all

             A         C         D      Suma
rok
2020  0.000000  0.110148  0.022604  0.032224
2021       NaN  0.259888  0.028698  0.037429
2022  0.027523  0.349367  0.092119  0.122814