In [1]:
import pandas as pd

# 1. Zestawienie wiz krajowych wydanych w latach 2020-2022

In [4]:
LICZBA_OBYWATELI = 37750000

In [2]:
df = pd.read_csv("./data/wizy_a_b_c_2022_2022.csv")

In [3]:
_df = df.groupby('rok')[['A', 'C', 'D']].sum()
_df['suma'] = _df.sum(axis=1)
_df

          A         C          D       suma
rok
2020    1.0  103742.0   840327.0   944070.0
2021    0.0   39367.0  1003059.0  1042426.0
2022  109.0   72932.0   537958.0   610999.0

In [10]:
_data = _df.loc[2022]["C"] / LICZBA_OBYWATELI * 1000
print(f"Liczba wiz typu C na 1000 mieszkańców: {_data.round(2)}")

Liczba wiz typu C na 1000 mieszkańców: 1.93

In [11]:
_data = _df.loc[2022]["D"] / LICZBA_OBYWATELI * 1000
print(f"Liczba wiz typu D na 1000 mieszkańców: {_data.round(2)}")

Liczba wiz typu D na 1000 mieszkańców: 14.25

In [13]:
_data = _df.loc[2022]["suma"] / LICZBA_OBYWATELI * 1000
print(f"Liczba wszystkich wiz na 1000 mieszkańców: {_data.round(2)}")

Liczba wszystkich wiz na 1000 mieszkańców: 16.19